Repository NewSainTurtle/ShadowMate, pull requests merged in 2023-09, with the labels that each got.

#33 [BE] 카테고리 등록 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/AddCategoryRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/entity/Category.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/entity/CategoryColor.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingException.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/CategoryColorRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/CategoryRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/CategoryRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, feature, test

#32 [BE] 닉네임 중복검사
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/DuplicatedNicknameRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/repository/UserRepository.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
Labels: backend, feature, test

#38 [BE] UserEntity 소셜로그인기능 수정
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/enums/SocialType.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/CategoryRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, feature, test, refactor

#40 [BE] 카테고리 색상 목록 조회 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/GetCategoryColorListResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/CategoryColorRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, feature, test

#41 [FE] Auth페이지 공통 버튼 생성 및 헤더 감추기
  FE/jest.config.ts
  FE/package-lock.json
  FE/package.json
  FE/src/App.scss
  FE/src/App.tsx
  FE/src/components/auth/AuthButton.tsx
  FE/src/components/common/Button/index.tsx
  FE/src/components/common/Dday/index.tsx
  FE/src/components/common/FriendProfile/index.tsx
  FE/src/components/common/Header/Menu.tsx
  FE/src/components/common/Header/Toggle.tsx
  FE/src/components/common/Header/index.tsx
  FE/src/components/common/Input/index.tsx
  FE/src/components/common/Text/index.tsx
  FE/src/index.tsx
  FE/src/pages/MainPage.tsx
  FE/src/pages/Mypage.tsx
  FE/src/pages/NotFoundPage.tsx
  FE/src/pages/Planner/DayPage.tsx
  FE/src/pages/Planner/MonthPage.tsx
  FE/src/pages/Planner/WeekPage.tsx
  FE/src/pages/SignupPage.tsx
  FE/src/pages/SocialPage.tsx
  FE/src/pages/commonPage.tsx
  FE/src/styles/auth/AuthButton.moudle.scss
  FE/src/styles/common/Button.module.scss
  FE/src/styles/common/FriendProfile.module.scss
  FE/src/styles/common/Header.module.scss
  FE/src/styles/common/Input.module.scss
  FE/src/styles/common/Text.module.scss
  FE/src/styles/global/themes.scss
  FE/tsconfig.json
Labels: frontend, design, feature

#44 [FE] 공통 컴포넌트 수정
  FE/src/components/common/Button/index.tsx
  FE/src/components/common/FriendProfile/index.tsx
  FE/src/components/common/Profile/index.tsx
  FE/src/pages/commonPage.tsx
  FE/src/styles/common/Profile.module.scss
Labels: frontend, feature, refactor

#45 [BE] 카테고리 목록 조회 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/GetCategoryListResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/GetCategoryResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/CategoryRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/CategoryRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, feature, test

#48 [BE] 마이페이지 프로필 조회 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/BaseErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/constant/UserConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/controller/UserController.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/dto/ProfileResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/exception/UserErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/exception/UserException.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserService.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/user/UserControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/user/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/user/UserServiceTest.java
Labels: backend, feature, test, refactor

#47 [BE] 플래너 공개여부 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/SetAccessScopeRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/enums/PlannerAccessScope.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/UserRepositoryTest.java
Labels: backend, feature, test

#53 [BE] 사용자 인증 함수 사용하여 코드 리팩터링
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, refactor

#51 [FE] 회원 가입 컴포넌트 생성 및 배치
  FE/src/components/auth/AuthButton.tsx
  FE/src/components/auth/AuthHeader.tsx
  FE/src/components/common/Input/index.tsx
  FE/src/pages/SignupPage.tsx
  FE/src/styles/auth/AuthButton.module.scss
  FE/src/styles/auth/SignupPage.module.scss
Labels: frontend, design, feature

#55 [FE] 로그인 컴포넌트 생성 및 배치
  FE/package-lock.json
  FE/package.json
  FE/src/assets/Icons/google_icon.svg
  FE/src/components/auth/login/Login.tsx
  FE/src/pages/LoginPage.tsx
  FE/src/styles/auth/Login.module.scss
  FE/src/styles/common/Input.module.scss
  FE/src/styles/global.d.ts
Labels: frontend, design, feature

#56 [FE] 로그인, 회원가입 컴포넌트 병합
  FE/package-lock.json
  FE/package.json
  FE/src/App.tsx
  FE/src/assets/Icons/google_icon.svg
  FE/src/components/auth/AuthButton.tsx
  FE/src/components/auth/AuthHeader.tsx
  FE/src/components/auth/login/Login.tsx
  FE/src/components/auth/signup/Signup.tsx
  FE/src/components/common/Input/index.tsx
  FE/src/pages/AuthPage.tsx
  FE/src/pages/LoginPage.tsx
  FE/src/pages/SignupPage.tsx
  FE/src/styles/auth/AuthButton.module.scss
  FE/src/styles/auth/Login.module.scss
  FE/src/styles/auth/Signup.module.scss
  FE/src/styles/common/Input.module.scss
  FE/src/styles/global.d.ts
Labels: frontend, design, feature

#59 [FE] 랜딩페이지 생성 및 컴포넌트 배치
  FE/src/App.tsx
  FE/src/__tests__/mainpage.test.tsx
  FE/src/assets/Imgs/landing_background.svg
  FE/src/pages/LandingPage.tsx
  FE/src/pages/MainPage.tsx
  FE/src/styles/auth/Landing.module.scss
Labels: design, feature

#62 [BE] 카테고리 수정 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/UpdateCategoryRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/exception/PlannerSettingErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/CategoryRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, feature, test

#65 [BE] 디데이 등록 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/AddDdayRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/entity/Dday.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/DdayRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/CategoryColorRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/CategoryRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/DdayRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/UserRepositoryTest.java
Labels: backend, feature, test

#67 [BE] 디데이 목록 조회 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/GetDdayListResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/GetDdayResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/DdayRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/DdayRepositoryTest.java
Labels: backend, feature, test

#69 [BE] 디데이 삭제 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/constant/PlannerSettingConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/RemoveDdayRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/DdayRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/repository/DdayRepositoryTest.java
Labels: backend, feature, test

#73 [BE] 플래너 설정 코드 수정 + 리팩토링
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/controller/PlannerSettingController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/AddCategoryResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/dto/AddDdayResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/repository/CategoryRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner_setting/service/PlannerSettingServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner_setting/PlannerSettingServiceTest.java
Labels: backend, test, refactor

#74 [FE] 주별 페이지 컴포넌트 생성 및 배치
  FE/config/webpack.config.js
  FE/src/App.scss
  FE/src/components/common/Header/Menu.tsx
  FE/src/components/planner/week/Week.module.scss
  FE/src/components/planner/week/Week.tsx
  FE/src/components/planner/week/WeekItem.tsx
  FE/src/components/planner/week/WeekTodo.tsx
  FE/src/pages/Planner/WeekPage.tsx
  FE/src/pages/commonPage.tsx
  FE/src/styles/auth/Login.module.scss
  FE/src/util/getThisWeek.ts
Labels: frontend, design, feature

#77 [FE] 일별 페이지 컴포넌트 생성 및 배치
  FE/package-lock.json
  FE/package.json
  FE/src/components/common/Dday/index.tsx
  FE/src/components/common/Header/Menu.tsx
  FE/src/components/planner/day/Day.tsx
  FE/src/components/planner/day/Header.tsx
  FE/src/components/planner/day/Ment.tsx
  FE/src/components/planner/day/TodoItem.tsx
  FE/src/components/planner/day/TodoList.tsx
  FE/src/components/planner/week/WeekItem.tsx
  FE/src/pages/Planner/DayPage.tsx
  FE/src/pages/Planner/MonthPage.tsx
  FE/src/pages/commonPage.tsx
  FE/src/styles/common/Text.module.scss
  FE/src/styles/planner/day.module.scss
  FE/src/util/data/DayTodos.ts
  FE/src/util/planner.interface.ts
Labels: frontend, design, feature

#82 [FE] 마이페이지 컴포넌트 일부 생성 및 배치
  FE/src/App.tsx
  FE/src/components/common/Header/Toggle.tsx
  FE/src/components/mypage/MyPage.module.scss
  FE/src/components/mypage/MyPage.tsx
  FE/src/components/mypage/MyPageDetail.tsx
  FE/src/components/mypage/MyPageFrame.tsx
  FE/src/components/mypage/MyPageList.tsx
  FE/src/components/mypage/MyPageTab.tsx
  FE/src/components/mypage/details/MyPageCategory.tsx
  FE/src/components/mypage/details/MyPageDday.tsx
  FE/src/components/mypage/details/MyPageDiary.tsx
  FE/src/components/mypage/details/MyPageFriend.tsx
  FE/src/components/mypage/details/MyPageInfo.tsx
  FE/src/components/mypage/item/MyPageCategoryItem.tsx
  FE/src/components/mypage/item/MyPageDdayItem.tsx
  FE/src/pages/MyPage.tsx
  FE/src/pages/Mypage.tsx
Labels: frontend, design, feature

#81 [FE] redux, axios 설치 및 세팅
  FE/config/webpack.config.js
  FE/package-lock.json
  FE/package.json
  FE/src/api/Api.ts
  FE/src/api/BaseUrl.ts
  FE/src/api/JsonAxios.ts
  FE/src/api/MultipartAxios.ts
  FE/src/api/api.ts
  FE/src/components/auth/signup/Signup.tsx
  FE/src/hooks/configStore.ts
  FE/src/hooks/hook.ts
  FE/src/index.tsx
  FE/src/store/authSlice.ts
Labels: frontend, feature, setting

#86 [BE] 오늘의 다짐 편집 API 작성
  BE/src/main/java/com/newsainturtle/shadowmate/planner/constant/PlannerConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner/controller/PlannerController.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner/dto/UpdateTodayGoalRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner/service/DailyPlannerService.java
  BE/src/main/java/com/newsainturtle/shadowmate/planner/service/DailyPlannerServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner/DailyPlannerServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner/PlannerControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/planner/repository/DailyPlannerRepositoryTest.java
Labels: backend, feature, test
