Repository NewSainTurtle/ShadowMate, pull requests merged in 2023-08, with the labels that each got.

#3 [FE] 프론트 프로젝트 환경 설정
  FE/.babelrc
  FE/.eslintrc
  FE/.gitignore
  FE/.prettierrc.json
  FE/config/webpack.config.js
  FE/config/webpack.dev.js
  FE/config/webpack.prod.js
  FE/cypress.config.ts
  FE/cypress/e2e/login.cy.ts
  FE/cypress/fixtures/example.json
  FE/cypress/support/commands.ts
  FE/cypress/support/e2e.ts
  FE/cypress/tsconfig.json
  FE/jest.config.ts
  FE/package-lock.json
  FE/package.json
  FE/public/index.html
  FE/setupTest.ts
  FE/src/App.tsx
  FE/src/__tests__/__snapshots__/mainpage.test.tsx.snap
  FE/src/__tests__/mainpage.test.tsx
  FE/src/index.tsx
  FE/src/pages/LoginPage.tsx
  FE/src/pages/MainPage.tsx
  FE/src/styles/Main.module.scss
  FE/src/styles/global.d.ts
  FE/tsconfig.jest.json
  FE/tsconfig.json
Labels: frontend, feature

#4 [BE] create: 프로젝트 생성
  BE/.gitignore
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/ShadowmateApplication.java
  BE/src/test/java/com/newsainturtle/shadowmate/ShadowmateApplicationTests.java
Labels: backend, feature

#6 [BE] 이메일 중복 검사 및 인증 API 생성
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/CertifyEmailRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthException.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/BaseResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/enums/PlannerAccessScope.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/repository/UserRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserService.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
Labels: backend, feature, test

#7 [BE] 이메일 중복 검사 및 인증 API 생성
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/CertifyEmailRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthException.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/enums/PlannerAccessScope.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/repository/UserRepository.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/UserRepositoryTest.java
Labels: backend, feature, test

#8 [BE] 이메일 중복 검사 및 인증 API 생성
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/CertifyEmailRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthException.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/BaseResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/enums/PlannerAccessScope.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/repository/UserRepository.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserService.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/UserRepositoryTest.java
Labels: backend, feature, test

#13 [FE] 전역 스타일 생성
  FE/package-lock.json
  FE/package.json
  FE/src/App.scss
  FE/src/App.tsx
  FE/src/components/common/Button/index.tsx
  FE/src/components/common/Dday/index.tsx
  FE/src/components/common/Header.tsx
  FE/src/components/common/Header/Toggle.tsx
  FE/src/components/common/Header/index.tsx
  FE/src/components/common/Input/index.tsx
  FE/src/components/common/Profile/index.tsx
  FE/src/components/common/Text/index.tsx
  FE/src/styles/common/Header.module.scss
  FE/src/styles/global/category_colors.scss
  FE/src/styles/global/themes.scss
Labels: frontend, design

#16 [BE] 메일로 인증번호 전송
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/SecurityConfig.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
Labels: backend, feature, test, refactor

#20 [BE] 회원가입 API 생성
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/JoinRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/UserRepositoryTest.java
Labels: backend, feature, test

#22 [BE] 회원가입 API 생성
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/JoinRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/JoinResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserService.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
Labels: backend, feature, test

#24 [BE] 회원가입 API 생성
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/dto/JoinRequest.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthService.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/service/UserService.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthControlloerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthControllerTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/UserRepositoryTest.java
Labels: backend, feature, test, refactor

#25 [BE] JWT 설정
  BE/build.gradle
  BE/src/main/java/com/newsainturtle/shadowmate/auth/constant/AuthConstant.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/controller/AuthController.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/exception/AuthErrorResult.java
  BE/src/main/java/com/newsainturtle/shadowmate/auth/service/AuthServiceImpl.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/ErrorResponse.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/GlobalExceptionHandler.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/AppConfig.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/CorsConfig.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/SecurityConfig.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/auth/PrincipalDetails.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/auth/PrincipalDetailsService.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtAuthenticationFilter.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtAuthorizationFilter.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtException.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtExceptionFilter.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtProvider.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
Labels: backend, feature, refactor

#27 [BE] 공통 부모 엔티티 생성
  BE/src/main/java/com/newsainturtle/shadowmate/ShadowmateApplication.java
  BE/src/main/java/com/newsainturtle/shadowmate/common/entity/CommonEntity.java
  BE/src/main/java/com/newsainturtle/shadowmate/config/jwt/JwtProvider.java
  BE/src/main/java/com/newsainturtle/shadowmate/user/entity/User.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/AuthServiceTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/kh/auth/UserRepositoryTest.java
  BE/src/test/java/com/newsainturtle/shadowmate/yn/auth/AuthServiceTest.java
Labels: backend, feature, refactor
